{% extends 'layout.html.twig' %}

{% block main %}
	<h4>I.</h4>
	<p>
		Freiheit der Presse ist Angelegenheit und Interesse des ganzen
		Menschengeschlechts. Ihr haben wir hauptsächlich die gegenwärtige Stufe von
		Cultur und Erleuchtung, worauf der größere Theil der europäischen Völker
		steht, zu verdanken. Man raube uns diese Freiheit, so wird das Licht, dessen
		wir uns gegenwärtig erfreuen, bald wieder verschwinden; Unwissenheit wird bald
		wieder in Dummheit ausarten, und Dummheit uns wieder dem Aberglauben und dem
		Despotismus preisgeben. Die Völker werden in die Barbarei der finstern
		Jahrhunderte zurück sinken; und wer sich dann erkühnen wird, Wahrheiten zu
		sagen, an deren Verheimlichung den Unterdrückern der Menschheit gelegen ist,
		wird ein Ketzer und Aufrührer heißen und als ein Verbrecher bestraft werden.
	</p>

	<h4>II.</h4>
	<p>
		Freiheit der Presse ist nur darum ein Recht der Schriftsteller, weil sie ein
		Recht der Menschheit oder, wenn man will, ein Recht policirter Nationen ist;
		und sie ist blos darum ein Recht des Menschengeschlechts, weil die Menschen,
		als vernünftige Wesen, kein angelegeneres Interesse haben, als wahre
		Kenntnisse von Allem, was auf irgend eine Art geradezu oder seitwärts einen
		Einfluß auf ihren Wohlstand hat und zu Vermehrung ihrer Vollkommenheit etwas
		beitragen kann.
	</p>

	<h4>III.</h4>
	<p>
		Die Wissenschaften, welche für den menschlichen Verstand das sind, was das
		Licht für unsere Augen, können und dürfen also ohne offenbare Verletzung eines
		unleugbaren Menschenrechtes in keine andere Grenzen eingeschloßen werden, als
		diejenigen, welche uns die Natur selbst gesetzt hat. Alles, was wir wissen
		können, das dürfen wir auch wissen.
	</p>
{% endblock %}

{% block title %}
	À propos - {{ parent() }}
{% endblock %}