{% extends 'layout.html.twig' %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block main %}
<h2>
	Ueber die Rechte und Pflichten der Schriftsteller, <br/>
	in Absicht ihrer Nachrichten und Urtheile über Nationen, Regierungen und
	andere öffentliche Gegenstände. <br/>
	1785.
</h2>
<h3>Christoph Martin Wieland</h3>
<p>
	Bei der großen Menge von Schriften, worin gereiste Leute (unter welche von
	Yoricks Classen sie auch gehören mögen) die auf ihren Reisen und Wanderungen
	gesammelten Bemerkungen und Nachrichten in Briefen an Freunde oder vielmehr an
	das Publicum zum Druck befördern, und da die Begierde der leselustigen Welt
	nach Schriften dieser Art natürlicher Weise die Anzahl der reiselustigen
	Schriftsteller und briefstellenden Wanderer täglich vermehrt, möchte wohl
	Manchen mit einem Maßstabe gedient seyn, an welchem sie die Befugnisse solcher
	Schriftsteller und die Grenzen ihrer Freiheit bei Bekanntmachung ihrer
	Bemerkungen, Nachrichten und Urtheile in allen vorkommenden Fällen mit
	Zuverlässigkeit bestimmen können. <br/>

	Dieser Maßstab scheint mir in der folgenden Reihe von Wahrheiten enthalten zu
	seyn.<br/>

	Ich gebe sie mit Zuversicht für Wahrheiten aus, weil ich nicht nur selbst von
	ihnen überzeugt bin, sondern auch glaube, daß sie jedem nur mäßig aufgeräumten
	und einiges Nachdenkens fähigen Kopfe als Wahrheit einleuchten müssen.
</p>
{% endblock %}
