{% extends 'layout.html.twig' %}

{% block title %}
	Ajouter un livre - {{ parent() }}
{% endblock %}

{% block main %}
	<h4>X.</h4>
	<p>
		Niemand kann sich beleidigt halten, wenn man ihn abschildert, wie er ist. Die
		Höflichkeit, welche uns verbietet, einer Person in öffentlicher Gesellschaft
		ihre Fehler zu sagen, ist keine Pflicht des Schriftstellers, der vom Menschen
		überhaupt oder von Nationen, Staaten und Gemeinheiten (wie groß oder klein sie
		übrigens seyn mögen) zu sprechen hat. Eine Nation würde etwas Unbilliges
		verlangen und sich lächerlich vor der Welt machen, welche für ganz untadelig
		und von allen Seiten vollkommen gehalten seyn wollte; und ganz untadelig müßte
		sie doch seyn, wenn ein verständiger Beobachter gar nichts an ihr auszusetzen
		hätte. Alles, was in solchem Falle die Ehrerbietung gegen eine ganze Nation
		oder Gemeinheit fordert, ist, in anständigen Ausdrücken, ohne Uebertreibung,
		Bitterkeit und Muthwillen von ihrer blinden Seite zu sprechen und vornehmlich
		seine Unparteilichkeit auch dadurch zu beweisen, daß man ihren Vorzügen und
		Allem, was an ihr zu rühmen ist, Gerechtigkeit widerfahren lasse.
	</p>
{% endblock %}