<nav>
	<ul>
		<li><a href="{{ path('main_home') }}">Accueil</a></li>
		<li><a href="{{ path('main_about') }}">À propos</a></li>
		<li><a href="{{ path('book_list') }}">Liste des livres</a></li>
		<li><a href="{{ path('book_add') }}">Ajouter un livre</a></li>
	</ul>
</nav>